# Bloquear acceso a carpetas específicas
RewriteEngine On
RewriteRule ^(config|layout|php|config)/ - [F]

ErrorDocument 404 http://lucasconde.ddns.net/AuronStore/vistas/errores/404
ErrorDocument 403 http://lucasconde.ddns.net/AuronStore/vistas/errores/403

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php